.animated-border{
    width: 600px;
    height: 1000px;
    border: 5px solid white;
    animation:borderAnimation 5s infinite;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top:20px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:1rem 9%;
    background-color: transparent;
    filter:drop-shadow(10px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}

.logo{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform:scale(2);
    opacity:1;
}

nav a{
    font-size:1.8rem;
    color:whitesmoke;
    margin-left:4rem;
    font-weight:500;
    transform:0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color:rgb(0, 157, 255);
    border-bottom: 3px solid rgb(0, 136, 255);

}

@media(max-width:995px){
    nav{
        position:absolute;
        top:100%;
        right:0;
        width:40%;
        border-left:3px solid white;
        border-bottom:3px solid white;
        border-bottom-left-radius:2rem;
        padding:1rem solid;
        background-color: rgb(2, 58, 122);
        border-top:0.1rem solid rgb(0, 17, 36); 
    }
    nav a{
        display:block;
        font-size:2rem;
        margin:3rem 0;
    }
    
    nav a:hover,
    nav a.active{
        padding:1rem;
        border-radius: 0.5rem;
        border-bottom:0.5rem solid white;
    }

}

section{
    min-height:100vh;
    padding:5rem 9%;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: transparent;
}

.home .home-content h3{
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.image-container{
    border-radius: 50%;
}

.image-container img{
    position: relative;
    width: 32vw;
    border-radius: 10%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.image-container img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    height: 780px;

}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: transparent;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    right: -10;
    animation: cursor 0.6s infinite;
}

@keyframes words{
    0%, 10%{
        content: " Mechanical Engineers";
    }
    11%, 20%{
        content: " Computer Engineers";
    }
    21%, 30%{
        content: " Chemical Engineers";
    }
    31%, 40%{
        content: " Civil Engineers";
    }
    41%, 50%{
        content: " Electrical Engineers";
    }
    51%, 60%{
        content:" Biotechnical Engineers";
    }
    61%, 70%{
        content:" Innovation"
    }
    71%, 80%{
        content:" Learning Oppurtunity"
    }
    81%, 90%{
        content:" Knowledge"
    }
    91%, 100%{
        content:" Unity"
    }

}


.image-container{
    display:inline-block;
    padding:10px;
}

@keyframes borderAnimation{
    0%{
        border-color:red;
        border-width:5px;
    }
    25%{
            border-color:rgb(91, 2, 70);
            border-width:8px;
    }
    50%{
        border-color:rgb(255, 255, 255);
        border-width:5px;
    }
    75%{
        border-color:blue;
        border-width:8px;
    }
    100%{
        border-color:cyan;
        border-width:8px;
    }

}

.YAP{
    display:flex;
    transform:translate(-375px,250px);
    
}

.BITS-logo{
    position:fixed;
    max-width:1000px;
}


